<%# locals: (feed:) -%>

<%= turbo_frame_tag dom_id(feed), class: "block #{cycle("bg-white", "bg-gray-50")} p-2" do %>
  <div class="flex flex-col sm:flex-row sm:justify-between items-center space-y-2 sm:space-y-0">
    <div class="space-y-1 w-full sm:w-1/3">
      <div class="font-medium"><%= feed.title %></div>
      <span class="text-sm flex space-x-2 items-center">
        <img class="h-4 w-4 rounded-full inline" src="/apple-touch-icon.png" alt="Feed">
        <%= link_to feed.url,
          "#",
          class: "underline truncate",
          title: translate("buttons.view"),
          data: {
            controller: "new-window-link", action: "click->new-window-link#click", new_window_link_url_value: feed.url
          }
        %>
      </span>
    </div>
    <div class="space-y-1 w-full sm:w-1/3">
      <div>
        <%= translate("labels.entries") %>:
        <%= feed.entries_count %>
      </div>
      <div>
        <%= translate("labels.last_checked") %>:
        <%= feed.last_checked&.strftime("%b %-d %Y, %I:%M%p") %>
      </div>
    </div>
    <div class="w-full sm:w-auto">
      <%= link_to translate("buttons.fetch"), fetch_feed_path(feed), class: "button-primary", data: { turbo_frame: "_top" } %>
      <%= link_to translate("buttons.edit"), edit_feed_path(feed), class: "button-primary" %>
      <%= button_to translate("buttons.delete"), feed_path(feed), method: :delete, data: { turbo_confirm: translate("confirmations.are_you_sure"), turbo_frame: "_top" }, class: "button-danger", form_class: "inline" %>
    </div>
  </div>
<% end %>
