<div class="pull-right">
  <a href="/feeds/new" class="btn btn-primary"><%= I18n.translate("buttons.add") %></a>
</div>

<h2><%= I18n.translate("header.feeds_index") %></h2>
<% if @feeds.empty? %>
  <h3><%= I18n.translate("feed.no_feeds") %></h3>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th><%= I18n.translate("feed.entries") %></th>
        <th><%= I18n.translate("feed.unread_entries") %></th>
        <th><%= I18n.translate("feed.last_checked") %></th>
        <th></th>
    </thead>
    <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.title %></td>
        <td><%= feed.entry_count %></td>
        <td><%= feed.unread_count %></td>
        <td><%= feed.last_checked %></td>
        <td>
          <a href="/feeds/<%= feed.id %>/fetch" class="btn btn-info"><%= I18n.translate("buttons.fetch") %></a>
          <a href="/feeds/<%= feed.id %>/edit" class="btn btn-primary"><%= I18n.translate("buttons.edit") %></a>
          <form style="display: inline;" onsubmit="return confirm('<%= I18n.translate("buttons.are_you_sure") %>');" method="post" action="/feeds/<%= feed.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger" type="submit"><%= I18n.translate("buttons.delete") %></button>
          </form>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
