<div class="pull-right">
  <a href="/feeds/new" class="btn btn-primary">Add</a>
</div>

<h2>Feeds</h2>
<% if @feeds.empty? %>
  <h3>No feeds found... you should add some!</h3>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Entries</th>
        <th>Unread</th>
        <th>Last Checked</th>
        <th></th>
    </thead>
    <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.title %></td>
        <td><%= feed.entry_count %></td>
        <td><%= feed.unread_count %></td>
        <td><%= feed.last_checked ? feed.last_checked.strftime("%Y-%m-%d %I:%M%p %Z") : "-" %></td>
        <td>
          <a href="/feeds/<%= feed.id %>/fetch" class="btn btn-info">Fetch</a>
          <a href="/feeds/<%= feed.id %>/edit" class="btn btn-primary">Edit</a>
          <form style="display: inline;" onsubmit="return confirm('Are you sure?');" method="post" action="/feeds/<%= feed.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
