<div data-controller="entries">
  <div data-entries-target="controls">
    <div class="flex justify-between space-x-3 my-3 mx-2 sm:mx-0">
      <h1 class="text-3xl font-bold">
        <%= translate("headings.#{@section}_html") %>
      </h1>
      <% if @pagination %>
        <div class="hidden sm:block">
          <%= pagination %>
        </div>
      <% end %>
      <div class="space-x-3">
        <%= link_to "&laquo; #{translate("buttons.prev")}".html_safe, "#", class: "button-primary", data: { action: "click->entries#prev" } %>
        <%= link_to "#{translate("buttons.next")} &raquo;".html_safe, "#", class: "button-primary", data: { action: "click->entries#next" } %>
      </div>
    </div>
  </div>

  <div id="entry-list" data-entries-target="list">
    <% if @entries.present? %>
      <ul class="space-y-2 my-2 mr-2">
        <% @entries.each do |entry| %>
          <li class="sm:rounded-md shadow">
            <%= form_with model: entry do |f| %>
              <%= hidden_field_tag "refresh_body", "true" %>
              <%= f.hidden_field :read, value: "true" %>
              <%= link_to "#", class: "block bg-gray-100 overflow-hidden px-4 py-4 sm:px-6", data: { "entries-target" => "title", "action" => "click->entries#clearOpened click->entries#viewEntry" } do %>
                <%= entry.title %>
              <% end %>
            <% end %>
            <%= turbo_frame_tag dom_id(entry) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="text-center text-3xl"><%= translate("messages.no_results") %></div>
    <% end %>
  </div>
</div>
