<div class="pull-right">
  <div class="entry-title">
    <a class="btn btn-primary" href="<%= @entry.url %>" target="_blank"><%= I18n.translate("buttons.view") %></a>
  </div>
</div>

<button type="button" class="btn btn-primary read-entry" data-entry-id="<%= @entry.id %>" data-read-state="<%= @entry.read.to_s %>">
  <%= "Mark #{@entry.read ? I18n.translate("buttons.unread") : I18n.translate("buttons.read")}" %>
</button>

<button type="button" class="btn btn-primary star-entry" data-entry-id="<%= @entry.id %>" data-starred-state="<%= @entry.starred.to_s %>">
  <%= @entry.starred ? I18n.translate("buttons.unstar") : I18n.translate("buttons.star") %>
</button>
  
<div class="entry-meta">
  <%= @entry.author %>
  <%= @entry.published_at %>
</div>

<div class="entry-body">
  <%= @entry.body %>
</div>

<div class="clearfix"</div>
