<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mallard</title>
    <%= css :application, :media => 'screen' %>
  </head>
  <body data-mobile-browser="<%= mobile_browser?.to_s %>">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Mallard</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= @active_menu == :unread_entires ? "active" : "" %>"><a href="/"><%= I18n.translate("menu.unread") %> - <span class="unread-count"><%= EntryRepo.unread.count %></span></a></li>
            <li class="<%= @active_menu == :starred_entires ? "active" : "" %>"><a href="/starred"><%= I18n.translate("menu.starred") %> - <span class="starred-count"><%= EntryRepo.starred.count %></span></a></li>
            <li class="<%= @active_menu == :manage_feeds ? "active" : "" %>"><a href="/feeds"><%= I18n.translate("menu.manage_feeds") %></a></li>
            <li class="<%= @active_menu == :read_entires ? "active" : "" %>"><a href="/read"><%= I18n.translate("menu.read_entries") %></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key.to_s %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>

    <script type="text/javascript">
      var i18n = {
        mark: '<%= I18n.translate("buttons.mark") %>',
        read: '<%= I18n.translate("buttons.read") %>',
        star: '<%= I18n.translate("buttons.star") %>',
        unread: '<%= I18n.translate("buttons.unread") %>',
        unstar: '<%= I18n.translate("buttons.unstar") %>'
      };
    </script>
    <%= js :application %>
  </body>
</html>
