<div id="entry-nav" class="pull-right">
  <a id="prev-entry" href="#" class="btn btn-primary">&laquo; <%= I18n.translate("buttons.prev") %></a>
  <a id="next-entry" href="#" class="btn btn-primary"><%= I18n.translate("buttons.next") %> &raquo;</a>
</div>
<div class="clearfix"></div>
<% if @entries.empty? %>
  <h2 class="text-center"><%= I18n.translate("feed.no_entires") %></h2>
<% else %>
  <div id="entry-list" class="panel-group">
    <% @entries.each do |entry| %>
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#entry-<%= entry.id %>" data-parent="#entry-list">
              <%= entry.title %>
            </a>
          </h3>
        </div>
        <div id="entry-<%= entry.id %>" class="panel-collapse collapse" data-entry-id="<%= entry.id %>" data-read-state="<%= entry.read.to_s %>">
          <div class="panel-body"></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
