<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mallard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= content_tag :div,
      nil,
      id: 'root',
      class: 'root',
      data: {
        isSignedIn: user_signed_in?,
        notifications: flash.map {|type, msg| { type: type, message: msg } if msg.present? }.compact
      }.to_json
    %>
    <%= yield %>
  </body>
</html>
