<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Mallard</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/apple-touch-icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="bg-gray-800" data-controller="navbar">
        <div class="px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">
          <div class="flex items-center space-x-6">
            <%= link_to "Mallard", root_path, class: "block shrink-0 text-white hover:text-gray-400" %>
            <div class="hidden sm:flex space-x-4">
              <%= link_to unread_entries_path, class: nav_entry_class(nil) do %>
                Unread
                <span id="unread-count" class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                  <%= stats[:total_unread] %>
                </span>
              <% end %>
              <%= link_to "Read", read_entries_path, class: nav_entry_class("read") %>
              <%= link_to starred_entries_path, class: nav_entry_class("starred") do %>
                Starred
                <span id="starred-count" class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                  <%= stats[:total_starred] %>
                </span>
              <% end %>
              <%= link_to "Feeds", feeds_path, class: nav_entry_class("feeds"), data: { turbo: "false" } %>
            </div>
          </div>
          <div class="hidden sm:flex items-center">
            <!-- Profile dropdown -->
            <div class="relative">
              <button data-action="click->navbar#toggleUserMenu" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="/apple-touch-icon.png" alt="">
              </button>
              <div class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5" data-navbar-target="userMenu">
                <%= link_to "Sign out", session_path, data: { turbo_method: "delete", turbo_confirm: "Want to sign out?" }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              </div>
            </div>
          </div>
          <!-- Mobile menu button -->
          <button data-action="click->navbar#toggleMobileMenu" class="inline-flex sm:hidden items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>

        <!-- Mobile menu -->
        <div data-navbar-target="mobileMenu" class="hidden sm:hidden">
          <div class="pt-2 pb-3 space-y-1">
            <%= link_to unread_entries_path, class: nav_entry_class(nil) do %>
              Unread
              <span id="mobile-unread-count" class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                <%= stats[:total_unread] %>
              </span>
            <% end %>
            <%= link_to "Read", read_entries_path, class: nav_entry_class("read") %>
            <%= link_to starred_entries_path, class: nav_entry_class("starred") do %>
              Starred
              <span id="mobile-starred-count" class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
                <%= stats[:total_starred] %>
              </span>
            <% end %>
            <%= link_to "Feeds", feeds_path, class: nav_entry_class("feeds") %>
          </div>
          <div class="flex items-center px-5 pt-4 pb-3 border-t border-gray-700">
            <img class="h-10 w-10 rounded-full" src="/apple-touch-icon.png" alt="">
            <%= link_to "Sign out", session_path, data: { turbo_method: "delete", turbo_confirm: "Want to sign out?" }, class: "ml-auto shrink-0 px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700" %>
          </div>
        </div>
      </nav>
    <% end %>

    <% if alert.present? %>
      <aside data-controller="dismiss" data-dismiss-target="content" class="flex jusitry-ceter transition-opacity bg-red-200 text-red-900 text-center p-2">
        <div class="flex flex-1 justify-center ml-4"><%= alert %></div>
        <button type="button" data-action="click->dismiss#close" class="h-6 w-5.5 mr-4 border border-transparent rounded-full shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </aside>
    <% end %>
    <% if notice.present? %>
      <aside data-controller="dismiss" data-dismiss-target="content" class="flex justify-center transition-opacity bg-green-200 text-green-900 text-center p-2">
        <div class="flex flex-1 justify-center ml-4"><%= notice %></div>
        <button type="button" data-action="click->dismiss#close" class="h-6 w-5.5 mr-4 border border-transparent rounded-full shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </aside>
    <% end %>

    <main class="max-w-full mx-1 sm:mx-auto sm:px-6 lg:px-8">
      <%= yield %>
    </main>
  </body>
</html>
